
.user {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 150px;
    border-top: 1px solid white;
    border-bottom: .5px solid white;
    align-items: center;
    flex-wrap: wrap;
}

.user #userPerfil{
    display: flex;
    align-items: center;
    justify-content: center;   
}

.user #userImg{
    border-radius:50%;
    width: 120px;
    height: 120px;
    margin: 0 20px 0 20px;
}

.user #userInfo{
    display: flex;
    flex-direction: column;
    color: white;
}

.user #button{ 
    width: 100px;
    height: 50px;
    margin-right: 20px;
    cursor: pointer;
}

@media (max-width:550px) {
    .user{
        flex-direction: column;
        padding: 20px; 
    }

    .user #userPerfil {
        flex-direction: column;
        padding: 30px;
    }

    .user #userPerfil p{
        padding: 5px;
    } 
}

