.payment{
    width: 100%;
    min-height: 100%;
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    box-shadow: 10px 50px 0px 100vh rgba(0, 0, 0, 0.725);
    z-index: 10;
    overflow: auto;
}

@media (min-width:600px){
    .payment{
        width: 70%;
    }
}

.payment_header{
    width: 100%;
    height: 100px;
    background: #474a6e;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.payment .payment_header p{
    color: white;
    font-size: 18px;
    margin-left: 50px;


}

.payment .payment_header span{
    color: #d1da59;
    white-space: nowrap;
    margin-right: 30px;
    font-weight: bold;
}

.payment .payment_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background:white;
}

.payment .payment_container #payment_card{
    width: 75%;
    height: 50px;
    margin: 0 auto 30px auto;
}

.payment .payment_container #payment_value{
    width: 80%;
    height: 50px;
    padding: 20px;
    margin: 40px auto 20px auto; 
}

.payment_buttons{
    margin: 0 auto;
}


.payment .payment_container .payment_buttons #payment_button{
    width: 100px;
    height: 50px;
    cursor: pointer;
    margin-right: 5px;
    border: 1px solid #14cf10;
    border-radius: 5px;
    color:#14cf10;
    background: rgba(19, 207, 16, 0.14);
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    transition: .3s;
    
}
.payment .payment_container .payment_buttons #payment_button:hover{
    background: rgba(19, 207, 16, 0.357);
}

.payment .payment_container .payment_buttons #payment_cancel{
    width: 100px;
    height: 50px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid  rgb(175, 17, 17);
    color: rgb(175, 17, 17) ;
    background:  rgba(175, 17, 17, 0.14);
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    transition: .3s;
}
.payment .payment_container .payment_buttons #payment_cancel:hover{
    background:  rgba(175, 17, 17, 0.357);
}

/*O botao de fechar no modal de pagamento*/
#closePayment{
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    margin: 5px 20px 20px 20px;
    cursor: pointer;
    width: 30px; 
    height: 30px;
    background: rgb(142, 13, 13);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

#closePayment:hover{
    background: rgb(236, 8, 8);

}

#closePayment::after{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: black;
    transform: rotate(45deg);
    position: absolute;
}

#closePayment::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: black;
    transform: rotate(-45deg);
    position: absolute;
}